

<html>
<head>
<meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.2.0">
<title>The Top Computer Science Universities</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css">
<style type="text/css">
 li.c1 {list-style: none; display: inline}
</style>
</head>
<body>
<div class="container">
<div class="row text-center">
<h1>Top 50 Computer Science College Acceptance Calculator</h1>
</div>
<div class="row text-center">
<h5>This website will calculate your probabilty of acceptance at one of the top 50 Computer Science schools in the nation. Your results are based off of your test scores and GPA. Please keep in mind that there are many more components in the college accpetance process. The results we give you are based off of past school stats. If we recommend you apply, that does not gaurentee acceptance</h5>
</div>
<div class="container row text-left">
<ul>
<li>Carnegie Mellon</li>
<li>Stanford</li>
<li>MIT</li>
<li>Cornell</li>
<li>Princeton</li>
<li>University of Pennsylvania</li>
<li>Duke</li>
<li>Rice University</li>
<li>Brown</li>
<li>CAL</li>

<li>Michigan</li>
<li>Dartmouth</li>
<li>Columbia</li>
<li class="c1">
<form method="post" action="/mango"><label for="item1">Enter the name of one of the top Computer Science Universities listed above:</label> <input type="text" name="school" id="item1"> <label for="item3">Enter your current GPA:</label> <input type="text" name="gpa" id="item3"> <label for="item4">Enter your most recent ACT score (if applicable):</label> <input type="number" name="act" id="item3"> <label for="item5">Enter your most recent SAT score (if applicable):</label> <input type="number" name="sat" id="item4"> <input type="submit" value="Submit!"></form>
</li>
</ul>
</div>
</div>
</body>
</html>

