<html>
    <head>
       <title>CS College Acceptance</title> 
       <link rel="stylesheet" href="css/style.css" type="text/css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
       <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
       <h3> <%= @myschoolresults.schoolmessage %> </h3>
       <h3> <%= @myschoolresults.gpamessage %> </h3>
       <h3> <%= @myschoolresults.actmessage %> </h3>
       <h3> <%= @myschoolresults.satmessage %> </h3>
    </body>
</html>
